<section class="forgot-password-section">
    <div class="d-flex mx-auto forgot-password-container">
        <div class="image-section">
            <img src="images/reset-password.jpg" alt="">
        </div>
        <div class="userForm-section ">
            <h1>Forgot Password</h1>
            <form class="user-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <div class="my-5">
                    <label class="form-label">New Password</label>
                    <input formControlName="newPassword" type="text" class="form-control" placeholder="">
                </div>

                <div class="my-5">
                    <label class="form-label">Confirm New Password</label>
                    <input [formControl]="confirmNewPassword" type="text" class="form-control" id="floatingInput" placeholder="">
                </div>

                <div class="loginbtn text-center">
                    <button type="submit" class="btn btn-lg">Submit</button>
                </div>

                @if(responseMessage !== ""){
                    <div class="text-center mt-5">
                        <p class="text-success">{{responseMessage}}</p>
                    </div>
                }
            </form>
        </div>
    </div>
</section>