
.cart-items{
    width: 80%;
}

.cart-item{
    width: 100%;
}

.cart-item-image{
    width: 20%;
}

.cart-item-image img{
    width: 10rem;
    height: 10rem;
}

.item-desc{
    width: 35%;
    padding-top: 25px;  
}

.item-price{
    width: 15%;
    padding-top: 4rem;
}

.btns{
    width: 15%;
    padding-top: 4rem;  
}

.remove-btns{
    width: 15%;
    padding-top: 4rem;     
}