<section class="forgot-password-section">
    <div class="d-flex mx-auto forgot-password-container">
        <div class="image-section">
            <img src="images/forgot-password.jpg" alt="">
        </div>
        <div class="userForm-section text-center">
            <h1>Forgot Password</h1>
            <form class="user-form" [formGroup]="userNameForm" (ngSubmit)="passwordResetLink()">
                <div class="form-floating my-5">
                    <input formControlName="username" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email Address</label>
                </div>
                <div class="loginbtn">
                    <button type="submit" class="btn btn-lg">Submit</button>
                </div>

                @if(responseMessage !== ""){
                    <div class="text-center">
                        <p class="text-success">{{responseMessage}}</p>
                    </div>
                }
            </form>
        </div>
    </div>
</section>